<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" th:href="@{/user/header/header.jpeg}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/discuss-detail.css}" />
	<title>FTCommunity-队伍详情</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::ftHeader">
		</header>

		<!-- 内容 -->
		<div class="main">
			<!-- 帖子详情 -->
			<div class="container">
				<!-- 作者 -->
				<div class="media pb-3 border-bottom">
					<a href="#">
						<img th:src="@{/image/02.jpg}" class="align-self-start mr-4 rounded-circle user-header" alt="用户头像" >
					</a>
					<div class="media-body">
						<div class="mt-0 text-warning" th:utext="${team.name}">寒江雪</div>
						<div class="text-muted mt-3">
							<a th:href="@{|/user/profile/${user.id}|}">
								发起者：<b th:utext="${user.username}"></b><br>
							</a>
							队长邮箱：<b th:text="${team.email}"></b><br>
							筹募比赛：<b th:text="${team.activityName}"></b><br>
							筹募结束于：<b th:text="${#dates.format(team.endTime,'yyyy-MM-dd HH:mm:ss')}"></b><br>
							现有队员：<b th:text="${team.person}"></b>人&nbsp;&nbsp;&nbsp;
							还需队员：<b th:text="${team.needPerson-team.person}"></b>人
						</div>
						<h5 class="mt-0 text-warning">
							<span th:utext="${user.username}">nowcoder</span>
							<input type="hidden" id="teamId" th:value="${team.id}">
							<button type="button" class="btn btn-secondary btn-sm float-right mr-5 follow-btn"
									th:text="${status}" th:if="${loginUser!=null}">
								错误
							</button>
						</h5>
					</div>
				</div>	
				<!-- 介绍 -->
				<div class="mt-4 mb-3 content" th:utext="${team.introduce}">
				</div>
			</div>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/team.js}"></script>
</body>
</html>
